<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Sync Root">
          <targetDataStore physicalRootPath="C:\inetpub\wwwroot\OHG\OHG-Sitecore-Helix-Base\Helix101Proto\src\foundation\serialization\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate>

            <!-- Settings -->
            <!--<include name="$(layer).$(module).Settings.Feature" database="master" path="/sitecore/system/Settings/Feature">
              <exclude children="true" />
            </include>-->

            <!--Helix Architecture for templates-->
            <include name="Foundation.Serialization.Templates.Feature" database="master" path="/sitecore/templates/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Templates.Project" database="master" path="/sitecore/templates/Project">
              <exclude children="true" />
            </include>

            <!--Helix Architecture for Layouts-->
            <include name="Foundation.Serialization.Layouts.Feature" database="master" path="/sitecore/layout/Layouts/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Layouts.Foundation" database="master" path="/sitecore/layout/Layouts/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Layouts.Project" database="master" path="/sitecore/layout/Layouts/Project">
              <exclude children="true" />
            </include>

            <!--Helix Architecture for PlaceholderSettings-->
            <include name="Foundation.Serialization.PlaceholderSettings.Feature" database="master" path="/sitecore/layout/Placeholder Settings/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/Placeholder Settings/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.PlaceholderSettings.Project" database="master" path="/sitecore/layout/Placeholder Settings/Project">
              <exclude children="true" />
            </include>

            <!--Helix Architecture for Rendering-->
            <include name="Foundation.Serialization.Renderings.Feature" database="master" path="/sitecore/layout/Renderings/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Renderings.Foundation" database="master" path="/sitecore/layout/Renderings/Foundation">
              <exclude children="true" />
            </include>
            <include name="Foundation.Serialization.Renderings.Project" database="master" path="/sitecore/layout/Renderings/Project">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>